* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.row {
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}
.expertise-row {
    margin-top: unset !important;
}
.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the shadow as needed */
}
p {
    color: #777;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
    text-align:justify;
}