.cta {
    margin: 40px auto;
    width: 80%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 132px 0;
}
.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
    font-size: 36px;
    font-weight: 600;
}
.hero-btn {
    margin-top: 10px;
    width: fit-content;
    margin-left: 0;
    display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 15px;
        background: transparent;
        position: relative;
        cursor: pointer;
}